@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    min-height: 600px;
    position: relative;
}

.main .box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.69;
    background-color: black;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 30px;
}

.hero>:nth-child(1) {
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero>:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    color: white;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    font-weight: 500;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 13px 14px;
    color: white;
    font-weight: 400;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
    -webkit-mask-image:
        linear-gradient(to right, transparent 0%, black 4%, black 96%, transparent 100%),
        linear-gradient(to bottom, transparent 0%, black 4%, black 90%, transparent 100%);
    -webkit-mask-composite: source-in;
    mask-image:
        linear-gradient(to right, transparent 0%, black 4%, black 96%, transparent 100%),
        linear-gradient(to bottom, transparent 0%, black 4%, black 90%, transparent 100%);
    mask-composite: intersect;
}

.secImg video {
    position: absolute;
    top: 49.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76%;
    object-fit: cover;
    z-index: 5;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
}

.faqbox {
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    font-size: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
        max-width: 90vw;
    }

    .secImg img {
        width: 100%;
    }

    .secImg {
        width: 100%;
        max-width: 400px;
    }

    .hero>:nth-child(1) {
        font-size: 32px;
    }

    .hero>:nth-child(2) {
        font-size: 18px;
    }

    .hero>:nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }

    .footer-item {
        align-items: center;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}

@media (max-width: 420px) {
    .third .secImg video {
        top: 47%;
        height: 48%;
    }
}

.footer a {
    font-size: 14px;
    color: #757575;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}